.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.sans {
    font-family: 'Open Sans', sans-serif;
}

.marker {
    font-family: 'Permanent Marker', cursive;
}

.roboto {
    font-family: 'Roboto Condensed', sans-serif;
}

.git, .li{
    font-size:30px;
    color:black;
}

.header {
    /* font-family: 'Permanent Marker', cursive; */
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 85px;
}

.list {
    list-style-type: none;
}

.background{
    background-image: url("../assets/img/lake.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 50%; */
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

.lighten:hover .image {
    opacity: 0.6;
  }